.container {
    width: 90%;
    height: 80%;
    margin: 5% auto;
    padding: 5%;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}